header{
    width: 100%;
    height: 60px;
    background-color: #f1701a;
}
.headerText{
    padding-left: 20px;
}
.headerImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
section{
    width: 100%;
    background-color: #ffffff;
}
hr {
    border: 0;
    height: 2px;
    width: 100%;
    background: #127799;
    margin-top: 20px 0;
}
.headerFrame{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 100px;
    padding-left: 10px;
}
.logo:hover{
    cursor: pointer;
}
.hMenue{
    display: none;
    width: 50px;
    padding-right: 10px;
}
.formatFrame{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#dishesFrame{
    width: calc(100% - 300px);
}
.contentField{
    display: flex;
    justify-content: flex-start;
    background-color: bisque;
    padding-left: 25px;
    padding-right: 25px;
}
.basketFrame{
    display: flex;
    justify-content: center;
    width: 300px;
    flex-grow: 1;
    padding-top: 10px;
    background-color: #f1701a;
}
.basketHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: #f1701a;
}
.basket{
    background-color: rgb(252, 233, 210);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f1701a #ffffff;
    border-radius: 10px;
    width: 85%;
    height: 400px;
    position: sticky;
    top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.dishesField{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 233, 210);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 90%;
}
.descriptionField{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
}
.imageField img{
    margin-right: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.buttonField1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
footer{
    width: 100%;
    background-color: #f1701a;
}
.footerTotal{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}