body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.contentMax{
    box-sizing: border-box;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.displayFlexColumn{
    display: flex;
    flex-direction: column;
}
.addIcon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.addIconMax{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.addIconMax:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #f1701a;
    border: 1px solid #f1701a;
}
.addIcon:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #f1701a;
    border: 1px solid #f1701a;
}
.removeIcon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.removeIcon:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #f1701a;
    border: 1px solid #f1701a;
}
.clearIcon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.clearIcon:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #f1701a;
    border: 1px solid #f1701a;
}
button{
    background-color: #f1701a;
    width: 90%;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px white;
}
button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.basketClose{
    display: none;
}